* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Alkatra", cursive;
  font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
